#main-content {
  max-width: 79.1666666667%;
  margin: 117px auto 0 auto;
  height: max-content;
}

#top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}

.topbar-right-text {
  font-size: 18px;
  color: #4d4d4d;
}

/* Dropdown Button */
.dropbtn {
  background-color: #d9d9d9;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn span {
  margin-left: 31px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 44px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #4d4d4d;
  padding: 14px 0 19px 20px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* product cards */
.card {
  display: flex;
  align-items: center;
  height: 250px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
  border: solid 1px rgb(230, 227, 227);
  overflow: hidden;
}

/* main image */
.picture {
  width: 181px;
  margin-left: 3.22368421053%;
  margin-right: 7.10526315789%;
}

.picture img {
  width: 200px;
  height: 100%;
}

/* name && description */
.name-description {
  width: 100%;
  max-width: 245px;
  height: 100%;
  margin-right: auto;
}

.card h1 {
  font-size: 2rem;
  color: rgb(105, 105, 105);
  margin: 56px 0 16px 0;
}

.name-description p {
  font-family: helvetica_neue_light;
  font-size: 1.125rem;
  color: #4d4d4d;
}

.heartIcon,
.cartIcon {
  width: 36.8px;
  height: 33.3px;
  margin: auto 53px 69.4px 0;
  cursor: pointer;
}

.price-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  margin-left: 47px;
}
.price-button > div {
  margin: auto auto 39px 0;
  font-size: 1.5rem;
  color: #4d4d4d;
  align-items: center;
}

.price-button > div p {
  float: left;
  margin-right: 10px;
  font-size: 1.875rem;
  font-style: italic;
}

.price-button button {
  width: 180px;
  height: 72px;
  font-size: 1.125rem;
  background: #e4e2e2;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0 62px 50px 0;
}

.card-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rightlabel {
  height: 100%;
  display: flex;
}

@media only screen and (min-width: 641px) and (max-width: 1007px) {
  #main-content {
    max-width: 89.5833333333%;
  }

  .card {
    margin-bottom: 16px;
    max-height: 130px;
  }

  .card h1 {
    font-size: 1.125rem;
    margin: 28px 0 7px 0;
  }

  .topbar-right-text {
    font-size: 0.8125rem;
  }

  .dropbtn {
    font-size: 0.75rem;
  }

  .name-description p {
    font-size: 0.75rem;
  }

  .picture {
    margin: 0;
    margin-left: 2.56578947368%;
  }

  .picture img {
    width: 65%;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .price-button > div {
    font-size: 0.9375rem;
    margin-bottom: 0px;
  }

  .price-button > div p {
    font-size: 1.5rem;
  }

  .heartIcon,
  .cartIcon {
    width: 19.2px;
    height: 17.3px;
    margin: auto 30px 38px 0;
  }

  .price-button {
    margin-left: 22px;
  }

  .price-button button {
    width: 100px;
    height: 40px;
    font-size: 0.6875rem;
    margin: 0 24px 20px 0;
  }
}

@media only screen and (max-width: 640px) {
  #main-content {
    max-width: 97.5%;
  }

  #top-bar {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 47px;
  }

  .dropdown {
    margin-bottom: 12px;
    font-size: 0.75rem;
  }

  .topbar-right-text {
    font-size: 0.75rem;
  }

  .card {
    margin-bottom: 12px;
    max-height: 159px;
    justify-content: space-around;
  }

  .card h1 {
    font-size: 0.9375rem;
    margin: 17px 0 2px 0;
  }

  .name-description p {
    font-size: 0.6875rem;
    margin-bottom: auto;
  }

  .picture {
    margin: 0;
    margin-left: 2.56578947368%;
  }

  .picture img {
    width: 65%;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .price-button {
    margin-left: 0;
  }

  .price-button > div {
    font-size: 0.8125rem;
    margin-bottom: 0px;
  }

  .price-button > div p {
    font-size: 0.8125rem;
    margin-bottom: 10px;
  }

  .heartIcon,
  .cartIcon {
    width: 16.4px;
    height: 14.8px;
    margin: auto 23.2px 28.7px 0;
  }

  .price-button button {
    width: 100px;
    height: 40px;
    font-size: 0.6875rem;
    margin: 0 24px 20px 0;
  }

  .price-button {
    float: right;
  }

  .card-wrapper {
    flex-direction: column;
    width: auto;
  }
}
