@font-face {
  font-family: helvetica_neue_bold;
  src: url(../assets/fonts/helvetica_neue_bold.ttf);
}

@font-face {
  font-family: helvetica_neue_light;
  src: url(../assets/fonts/helvetica_neue_light.ttf);
}

@font-face {
  font-family: helvetica_neue_roman;
  src: url(../assets/fonts/helvetica_neue_roman.ttf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  letter-spacing: 0;
}

html,
body {
  height: 100vh;
  width: 100%;
}

h1,
h2,
h3,
h4,
p,
a,
button {
  color: #4d4d4d;
}

button {
  cursor: pointer;
}

/* HEADER ///////////////////////////*/
#header {
  font-family: helvetica_neue_light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  width: 100%;
}

#header-logo {
  margin: 10px 0 0 50px;
}

#header-logo2 {
  display: none;
}

#headerNav {
  margin-right: 63px;
}

/* space between nav links */
#headerNav :nth-child(1) {
  margin-right: 19px;
}

#headerNav a {
  padding: 10px 16px;
  line-height: 36px;
  font-size: 1.125rem;
  transition: 0.15s;
}

/* show border on a link hover */
/* have not finished it yet */
#headerNav a:hover {
  border-bottom: 3px solid #4d4d4d;
}

/* main //////////////////////////*/
#main {
  width: 100%;
  display: flex;
  align-items: center;
}

#MainProductInfo {
  margin: 9% 0 0 9%;
}

#MainProductInfo h1 {
  font-family: helvetica_neue_bold;
  font-size: 5vw;
  margin-bottom: 52px;
  width: auto;
  max-width: 506px;
}

#MainProductInfo p {
  width: auto;
  max-width: 620px;
  margin: 0 0 55px 17px;
  font-family: helvetica_neue_light;
  font-size: 1.25vw;
  line-height: 1.5;
}

#MainProductInfo p span {
  font-style: italic;
  color: #949090;
}

#MainProductInfo button {
  width: 200px;
  height: 72px;
  margin-left: 17px;
  border-radius: 5px;
  border: none;
  font-size: 1.125rem;
  line-height: 2;
}

#MainProductImage {
  background-repeat: no-repeat;
  /* width: 100%; */
  margin: 9px 4% 0 auto;
}

#MainProductImage :nth-child(2) {
  display: none;
}

#MainProductImage img {
  width: 100%;
  max-width: 52.875rem;
  float: right;
}

/* products /////////////////////////////*/
#products_cection {
  max-width: 82.2916666667%;
  margin: 101px auto 0 auto;
}

#products_cection ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 25%;
  min-width: max-content;
  /* intrinsic dimension(width of the box is calculated on the dimension of the contents that the box itself contains. */
  margin-bottom: 123px;
}

.product div {
  width: 50%;
}

.product div img {
  width: 100%;
}

.product h3 {
  font-family: helvetica_neue_bold;
  font-size: 1.5rem;
  line-height: 36px;
  margin-left: 23px;
}

/* Section of best selling products */
#bestSeller {
  max-width: 85.4166666667%;
  margin: 0 auto;
}

#bestSeller h2 {
  margin: 0 0 70px 3.65853658537%;
  font-family: helvetica_neue_roman;
  font-size: 2rem;
  line-height: 1.13;
}

#bestSeller ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.BSProduct {
  width: 480px;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4d4d4d;
  margin-bottom: 106px;
}

.BSProduct img {
  margin-bottom: 21px;
  width: 360px;
  height: 360px;
}

.BSProduct h4 {
  margin-bottom: 8px;
  font-size: 1.5rem;
  line-height: 36px;
}

.BSProduct p {
  font-size: 1rem;
  line-height: 36px;
  margin-bottom: 50px;
}

#bestSeller .footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: inherit;
  margin-bottom: 40px;
}

#bestSeller .footer > div {
  display: flex;
  justify-content: center;
}

#bestSeller .footer > div > :first-child {
  margin-right: 15px;
}

.addProduct {
  font-size: 1.125rem;
  line-height: 36px;
  max-width: 56px;
  border: none;
  background: none;
}

/* why us section */
#about-us {
  max-width: 79%;
  margin: 0 auto 65px auto;
}

#about-us h2 {
  margin-bottom: 49px;
  font-size: 2rem;
}

#about-us ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* add images */
#factor1 {
  background-image: url("../assets/images/Group\ 20.png");
}

#factor2 {
  background-image: url("../assets/images/Rectangle\ 29.png");
}

#factor3 {
  background-image: url("../assets/images/Group\ 36.png");
}

.factors {
  background-repeat: no-repeat;
  min-width: calc((100% / 3) - 4.73684210526%);
  height: 290px;
}

.factors h4 {
  font-size: 1.4375rem;
  padding: 22px 0 0 38px;
  width: 100%;
  color: #fff;
}

.factors > div {
  width: 77px;
  height: 77px;
  background: #fff;
  color: #4d4d4d;
  font-family: helvetica_neue_light;
  font-size: 2.5rem;
  font-style: italic;
  text-align: center;
  line-height: 1.6;
  position: relative;
  left: 31px;
  top: 129px;
}

/* Footer */
#footer {
  background-color: rgb(236, 236, 236);
}

#footerWrapper {
  max-width: 79.1666666667%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  line-height: 28px;
  color: #4d4d4d;
}

#information {
  width: 100%;
  height: 254px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: helvetica_neue_bold;
  float: left;
}

#footerCaption {
  display: flex;
  justify-content: stretch;
}

#footerCaption img {
  position: relative;
  width: 87px;
  height: 87px;
  top: -15px;
}

#footerCaption p {
  max-width: 353px;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.4;
  margin-left: 40px;
}

.footerList address {
  opacity: 0.4;
}

.footerList ul li a {
  font-size: 1.0625rem;
  color: #8f8d8d;
}

#socials {
  width: 100%;
  height: 93.5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #d4d4d4;
}

#socials nav {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  cursor: pointer;
}

@media only screen and (min-width: 641px) and (max-width: 1007px) {
  #MainProductInfo {
    margin-top: 4.58333333333%;
  }

  #MainProductInfo h1 {
    font-size: 3rem;
    margin-bottom: 22px;
  }

  #MainProductInfo p {
    font-size: 1.25rem;
    margin-bottom: 32 px;
  }

  #MainProductInfo button {
    width: 125px;
    height: 48px;
    font-size: 0.75rem;
  }

  #MainProductImage img {
    max-width: 430px;
    margin-right: 1.92708333333%;
  }
}

@media only screen and (max-width: 640px) {
  #header-logo {
    margin: 15px 0 0 12px;
    display: none;
  }

  #header-logo2 {
    display: block;
  }

  #headerNav {
    display: none;
  }

  #MainProductInfo h1 {
    font-size: 1.25rem;
    margin: 0 0 16px 17px;
  }

  #MainProductInfo p {
    font-size: 0.75rem;
    margin: 0 0 20px 24px;
  }

  #MainProductInfo {
    margin: 0;
  }

  #MainProductInfo button {
    width: 164px;
    height: 54px;
    font-size: 0.8125rem;
    margin-left: calc((100% / 2) - 82px);
  }
  #MainProductImage {
    margin: 0;
  }

  #MainProductImage img {
    width: 100%;
    max-width: ;
    margin-bottom: 53px;
    float: none;
  }

  #MainProductImage :nth-child(1) {
    display: none;
  }

  #MainProductImage :nth-child(2) {
    display: block;
  }

  #main {
    flex-direction: column-reverse;
  }
}
